In [1]:
import pandas as pd
#import numpy as np
#from sklearn.preprocessing import PowerTransformer
#from sklearn.preprocessing import StandardScaler
#from sklearn.preprocessing import MinMaxScaler
#from sklearn.preprocessing import OneHotEncoder
#from sklearn.model_selection import train_test_split
#from sklearn.linear_model import LinearRegression
#from sklearn.metrics import r2_score
#from sklearn.metrics import mean_squared_error
#import math

In [2]:
# MAIN_GOAL: Predict green_roof_area

In [2]:
df = pd.read_csv('../Data/cleaned_data/green_roofs2.csv')

df

,green_roof_area,building_area,ratio_green_area,construction_year,roof_height,ground_elev,digitized,borough,xcoord,ycoord,area_type
0,971,14057,0.07,1900,59,90,1,BK,-73.93491,40.67389,public
1,696,4463,0.16,1900,13,21,0,MN,-73.99982,40.73481,commercial
2,293,13217,0.02,1900,93,7,0,MN,-74.00906,40.72480,commercial
3,759,4311,0.18,1900,99,21,0,MN,-74.00836,40.71595,commercial
4,7204,35891,0.20,1990,206,10,1,BX,-73.91227,40.81906,commercial
...,...,...,...,...,...,...,...,...,...,...,...
725,1525,6414,0.24,1800,104,6,0,MN,-74.00968,40.72554,residential
726,343,2941,0.12,1990,118,42,1,MN,-73.99311,40.72600,public
727,309,4350,0.07,1990,175,18,1,MN,-74.01044,40.71474,industrial
728,8139,20051,0.41,1960,23,12,0,MN,-73.93708,40.79703,commercial
729,357,2164,0.17,1900,84,10,0,MN,-74.00959,40.72423,industrial

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   green_roof_area    730 non-null    int64
 1   building_area      730 non-null    int64
 2   ratio_green_area   730 non-null    float64
 3   construction_year  730 non-null    int64
 4   roof_height        730 non-null    int64
 5   ground_elev        730 non-null    int64
 6   digitized          730 non-null    int64
 7   borough            730 non-null    object
 8   xcoord             730 non-null    float64
 9   ycoord             730 non-null    float64
 10  area_type          730 non-null    object
dtypes: float64(3), int64(6), object(2)
memory usage: 62.9+ KB

In [4]:
df.describe()

,green_roof_area,building_area,ratio_green_area,construction_year,roof_height,ground_elev,digitized,xcoord,ycoord
count,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000
mean,3060.008219,22724.094521,0.178466,1943.232877,142.563014,41.479452,0.212329,-73.966182,40.745905
std,6059.135823,31208.241425,0.171618,42.802549,148.077963,33.204033,0.409237,0.045822,0.053641
min,10.000000,522.000000,0.000000,1800.000000,8.000000,-4.000000,0.000000,-74.077320,40.572220
25%,438.750000,4319.000000,0.060000,1900.000000,51.000000,15.000000,0.000000,-73.996075,40.717370
50%,1171.500000,12143.000000,0.120000,1930.000000,85.500000,32.000000,0.000000,-73.978630,40.741695
75%,3121.750000,27632.000000,0.230000,1990.000000,184.000000,61.000000,0.000000,-73.950568,40.773907
max,66025.000000,280739.000000,0.980000,1990.000000,1408.000000,168.000000,1.000000,-73.751320,40.896350

In [4]:
df.columns

Index(['green_roof_area', 'building_area', 'ratio_green_area',
       'construction_year', 'roof_height', 'ground_elev', 'digitized',
       'borough', 'xcoord', 'ycoord', 'area_type'],
      dtype='object')

In [5]:
# to check the correlation we may want to order the columns so the target variable is at the end, and
    # the numericals and categoricals are together displayed

df = df[['building_area', 'ratio_green_area','roof_height', 'ground_elev',\
    'xcoord', 'ycoord','borough','construction_year','digitized','area_type', 'green_roof_area' ]]

df

,building_area,ratio_green_area,roof_height,ground_elev,xcoord,ycoord,borough,construction_year,digitized,area_type,green_roof_area
0,14057,0.07,59,90,-73.93491,40.67389,BK,1900,1,public,971
1,4463,0.16,13,21,-73.99982,40.73481,MN,1900,0,commercial,696
2,13217,0.02,93,7,-74.00906,40.72480,MN,1900,0,commercial,293
3,4311,0.18,99,21,-74.00836,40.71595,MN,1900,0,commercial,759
4,35891,0.20,206,10,-73.91227,40.81906,BX,1990,1,commercial,7204
...,...,...,...,...,...,...,...,...,...,...,...
725,6414,0.24,104,6,-74.00968,40.72554,MN,1800,0,residential,1525
726,2941,0.12,118,42,-73.99311,40.72600,MN,1990,1,public,343
727,4350,0.07,175,18,-74.01044,40.71474,MN,1990,1,industrial,309
728,20051,0.41,23,12,-73.93708,40.79703,MN,1960,0,commercial,8139
729,2164,0.17,84,10,-74.00959,40.72423,MN,1900,0,industrial,357

In [6]:
# first we want to check the correlation

df.corr()

,building_area,ratio_green_area,roof_height,ground_elev,xcoord,ycoord,construction_year,digitized,green_roof_area
building_area,1.000000,-0.187432,0.322886,-0.091766,0.089432,-0.031258,0.229547,0.089102,0.564244
ratio_green_area,-0.187432,1.000000,-0.267895,0.107822,0.130734,0.124983,-0.089072,0.153084,0.297438
roof_height,0.322886,-0.267895,1.000000,-0.018603,-0.179090,0.015911,0.247344,-0.007023,0.091996
ground_elev,-0.091766,0.107822,-0.018603,1.000000,0.186144,0.279177,-0.124424,0.016322,-0.014633
xcoord,0.089432,0.130734,-0.179090,0.186144,1.000000,0.307375,0.115855,0.043414,0.051407
ycoord,-0.031258,0.124983,0.015911,0.279177,0.307375,1.000000,0.122688,-0.020359,0.034407
construction_year,0.229547,-0.089072,0.247344,-0.124424,0.115855,0.122688,1.000000,0.039070,0.178527
digitized,0.089102,0.153084,-0.007023,0.016322,0.043414,-0.020359,0.039070,1.000000,0.221406
green_roof_area,0.564244,0.297438,0.091996,-0.014633,0.051407,0.034407,0.178527,0.221406,1.000000

In [7]:
# encoding area_type and borough to check if there is some correlation between them and the target variable

df['borough'].value_counts()

def encode_borough(x):
    if x =='MN':
        return 1
    elif x =='BK':
        return 2
    elif x =='BX':
        return 3
    elif x =='QN':
        return 4
    elif x =='SI':
        return 5
    else:
        return x

df['borough'] = df['borough'].apply(encode_borough)

df['borough'].value_counts()

1    463
2    133
3     81
4     49
5      4
Name: borough, dtype: int64

In [8]:

df['area_type'].value_counts()

residential    347
commercial     252
industrial     115
public          16
Name: area_type, dtype: int64

In [9]:
def encode_area(x):
    if x =='residential':
        return 1
    elif x =='commercial':
        return 2
    elif x =='industrial':
        return 3
    elif x =='public':
        return 4
    else:
        return x

df['area_type'] = df['area_type'].apply(encode_area)

df['area_type'].value_counts()

1    347
2    252
3    115
4     16
Name: area_type, dtype: int64

In [10]:
df.corr()

,building_area,ratio_green_area,roof_height,ground_elev,xcoord,ycoord,borough,construction_year,digitized,area_type,green_roof_area
building_area,1.000000,-0.187432,0.322886,-0.091766,0.089432,-0.031258,0.134960,0.229547,0.089102,-0.073419,0.564244
ratio_green_area,-0.187432,1.000000,-0.267895,0.107822,0.130734,0.124983,0.154481,-0.089072,0.153084,-0.018858,0.297438
roof_height,0.322886,-0.267895,1.000000,-0.018603,-0.179090,0.015911,-0.234035,0.247344,-0.007023,0.031163,0.091996
ground_elev,-0.091766,0.107822,-0.018603,1.000000,0.186144,0.279177,0.085004,-0.124424,0.016322,0.023837,-0.014633
xcoord,0.089432,0.130734,-0.179090,0.186144,1.000000,0.307375,0.663572,0.115855,0.043414,-0.009878,0.051407
ycoord,-0.031258,0.124983,0.015911,0.279177,0.307375,1.000000,0.048892,0.122688,-0.020359,0.051321,0.034407
borough,0.134960,0.154481,-0.234035,0.085004,0.663572,0.048892,1.000000,0.102585,0.141999,-0.043490,0.087736
construction_year,0.229547,-0.089072,0.247344,-0.124424,0.115855,0.122688,0.102585,1.000000,0.039070,0.046502,0.178527
digitized,0.089102,0.153084,-0.007023,0.016322,0.043414,-0.020359,0.141999,0.039070,1.000000,0.026957,0.221406
area_type,-0.073419,-0.018858,0.031163,0.023837,-0.009878,0.051321,-0.043490,0.046502,0.026957,1.000000,0.005131
green_roof_area,0.564244,0.297438,0.091996,-0.014633,0.051407,0.034407,0.087736,0.178527,0.221406,0.005131,1.000000

In [11]:
#CONCLUSION: We have very low correlation between features and target variables.

#Aniway we will try to do linear models and check if we can improve them.

In [12]:

#first linear model => with all the variables:
    #alternative1: transformed
    #alternative2: scaled
    #alternative3: transformed and scaled

#second linear model => with the most 4 or 5 correlated variables with target one
     #alternative1: transformed
     #alternative2: scaled
     #alternative3: transformed and scaled

In [13]:
#FIRST MODEL version 1 : with all the variables; transformed with Box-cox

#X y split
X = df.drop(columns = ['green_roof_area','xcoord', 'ycoord'], axis = 1) # here we skip the xcoord and ycoord because powert transform won't work on that variables(too large range)
y = df['green_roof_area']

#train test split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 19)

#transformer operations
 #since we have encoded the cateogrical columns we will transform all the variables. so we won't split X_train into jnumerical and cateogrical

transformer = PowerTransformer()
transformer.fit(X_train)
x_train_transformed = transformer.transform(X_train)
X_train_transf = pd.DataFrame(x_train_transformed, columns = X_train.columns)
X_train_transf

transformer = PowerTransformer()
transformer.fit(X_test)
x_test_transformed = transformer.transform(X_test)
X_test_transf = pd.DataFrame(x_test_transformed, columns = X_test.columns)
X_test_transf

 #We get negativae values like in building_area and roof_height. This might not make sense, maybe this transformation don't work here

,building_area,ratio_green_area,roof_height,ground_elev,borough,construction_year,digitized,area_type
0,0.847787,0.788004,-1.183789,-0.343921,1.141245,-0.941759,-0.540403,0.780399
1,0.739111,-1.058786,1.996920,1.402027,1.141245,1.264810,-0.540403,0.780399
2,-0.627170,-0.607561,0.621476,0.792856,-0.736931,-0.941759,-0.540403,1.482505
3,1.348763,-0.607561,0.608256,-1.049831,-0.736931,0.467937,-0.540403,0.780399
4,1.270053,1.720891,1.265847,1.144837,-0.736931,1.264810,-0.540403,-0.945035
...,...,...,...,...,...,...,...,...
141,-0.072169,0.361127,0.266162,0.961947,1.539842,1.264810,-0.540403,0.780399
142,-0.565991,0.361127,-2.036574,1.503346,1.141245,-0.266228,-0.540403,-0.945035
143,0.808118,0.185711,1.760747,0.907769,-0.736931,-0.266228,-0.540403,-0.945035
144,-1.278888,1.301409,-0.755720,-0.213965,-0.736931,-0.941759,-0.540403,-0.945035
145,1.198144,-1.058786,1.510199,-1.309536,-0.736931,0.467937,-0.540403,-0.945035

In [14]:
#linear model

lm = LinearRegression()
lm.fit(X_train_transf, y_train)

y_pred_train = lm.predict(X_train_transf)
y_pred_test = lm.predict(X_test_transf)

print('r2_score_train =', r2_score(y_train, y_pred_train))
print('r2_score_test =', r2_score(y_test, y_pred_test))

r2_score_train = 0.5231107367986325
r2_score_test = 0.4234506437065546

In [15]:
#FIRST MODEL version 2: with all the variables; scaled with standard scaler

transformer = StandardScaler()
transformer.fit(X_train)
x_train_scaled = transformer.transform(X_train)
X_train_scaled = pd.DataFrame(x_train_scaled, columns = X_train.columns)
X_train_scaled

transformer = StandardScaler()
transformer.fit(X_test)
x_test_scaled = transformer.transform(X_test)
X_test_scaled = pd.DataFrame(x_test_scaled, columns = X_test.columns)
X_test_scaled

,building_area,ratio_green_area,roof_height,ground_elev,borough,construction_year,digitized,area_type
0,0.270266,0.392065,-0.777737,-0.553825,0.484486,-0.925846,-0.540403,0.471018
1,0.147379,-0.836001,3.228891,1.600536,0.484486,1.223556,-0.540403,0.471018
2,-0.531385,-0.631324,0.167089,0.537345,-0.638292,-0.925846,-0.540403,1.793490
3,1.102779,-0.631324,0.152881,-0.889570,-0.638292,0.507089,-0.540403,0.471018
4,0.936836,2.302392,1.126122,1.096919,-0.638292,1.223556,-0.540403,-0.851455
...,...,...,...,...,...,...,...,...
141,-0.387250,-0.017290,-0.159693,0.789153,1.607264,1.223556,-0.540403,0.471018
142,-0.520384,-0.017290,-0.898504,1.824366,0.484486,-0.209379,-0.540403,-0.851455
143,0.223487,-0.153742,2.383521,0.705217,-0.638292,-0.209379,-0.540403,-0.851455
144,-0.603915,1.142551,-0.671177,-0.469889,-0.638292,-0.925846,-0.540403,-0.851455
145,0.798177,-0.836001,1.673126,-0.973506,-0.638292,0.507089,-0.540403,-0.851455

In [17]:
lm = LinearRegression()
lm.fit(X_train_scaled, y_train)

y_pred_train = lm.predict(X_train_scaled)
y_pred_test = lm.predict(X_test_scaled)

print('r2_score_train =', r2_score(y_train, y_pred_train))
print('r2_score_test =', r2_score(y_test, y_pred_test))

mse_train = mean_squared_error(y_train, y_pred_train)
rmse_train = math.sqrt(mse_train)

mse_test = mean_squared_error(y_test, y_pred_test)
rmse_test = math.sqrt(mse_test)

'\n'
print('mse_train =', mse_train)
print('mse_test =', mse_test)
'\n'
print('rmse_train =', rmse_train)
print('rmse_test =', rmse_test)

r2_score_train = 0.49613711619961576
r2_score_test = 0.48487404926622113
mse_train = 15269368.688941002
mse_test = 31906571.562264826
rmse_train = 3907.6039575347195
rmse_test = 5648.5902278590565

In [18]:
#FIRST MODEL version 3: with all the variables; transformed with log

#transformer

def log_transform(x):
    x = np.log10(x) 
    if np.isfinite(x):
        return x
    else:
        return 0

cols = list(X_train.columns)
X_train_log = pd.DataFrame()
X_test_log = pd.DataFrame()
for i in range(len(cols)):
    X_train_log[cols[i]] = X_train[cols[i]].apply(log_transform)
    
for i in range(len(cols)):
    X_test_log[cols[i]] = X_test[cols[i]].apply(log_transform)
    

X_train_log
X_test_log

,building_area,ratio_green_area,roof_height,ground_elev,borough,construction_year,digitized,area_type
66,4.574830,-0.657577,1.491362,1.414973,0.301030,3.278754,0.0,0.301030
501,4.512151,-1.397940,2.774517,2.012837,0.301030,3.298853,0.0,0.301030
697,3.665769,-1.154902,2.214844,1.812913,0.000000,3.278754,0.0,0.477121
662,4.855967,-1.154902,2.209515,1.146128,0.000000,3.292256,0.0,0.301030
263,4.812619,-0.301030,2.475671,1.929419,0.000000,3.298853,0.0,0.000000
...,...,...,...,...,...,...,...,...
331,4.023417,-0.795880,2.071882,1.869232,0.477121,3.298853,0.0,0.301030
383,3.706206,-0.795880,1.146128,2.045323,0.301030,3.285557,0.0,0.000000
508,4.552023,-0.853872,2.677607,1.851258,0.000000,3.285557,0.0,0.000000
137,3.218010,-0.481486,1.662758,1.462398,0.000000,3.278754,0.0,0.000000
693,4.772754,-1.397940,2.575188,1.041393,0.000000,3.292256,0.0,0.000000

In [19]:
#linear model

lm = LinearRegression()
lm.fit(X_train_log, y_train)

y_pred_train = lm.predict(X_train_log)
y_pred_test = lm.predict(X_test_log)

print('r2_score_train =', r2_score(y_train, y_pred_train))
print('r2_score_test =', r2_score(y_test, y_pred_test))

r2_score_train = 0.436032875096655
r2_score_test = 0.37155828972401705

In [20]:
#FIRST MODEL version 4: with all the variables; scaled with MinMax scaler

transformer = MinMaxScaler()
transformer.fit(X_train)
x_train_scaled2 = transformer.transform(X_train)
X_train_scaled2 = pd.DataFrame(x_train_scaled2, columns = X_train.columns)
X_train_scaled2

transformer = MinMaxScaler()
transformer.fit(X_test)
x_test_scaled2 = transformer.transform(X_test)
X_test_scaled2 = pd.DataFrame(x_test_scaled2, columns = X_test.columns)
X_test_scaled2

,building_area,ratio_green_area,roof_height,ground_elev,borough,construction_year,digitized,area_type
0,0.132208,0.368421,0.026166,0.136646,0.333333,0.357143,0.0,0.333333
1,0.114190,0.052632,0.667804,0.614907,0.333333,1.000000,0.0,0.333333
2,0.014667,0.105263,0.177474,0.378882,0.000000,0.357143,0.0,0.666667
3,0.254274,0.105263,0.175199,0.062112,0.000000,0.785714,0.0,0.333333
4,0.229943,0.859649,0.331058,0.503106,0.000000,1.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...
141,0.035801,0.263158,0.125142,0.434783,0.666667,1.000000,0.0,0.333333
142,0.016280,0.263158,0.006826,0.664596,0.333333,0.571429,0.0,0.000000
143,0.125349,0.228070,0.532423,0.416149,0.000000,0.571429,0.0,0.000000
144,0.004033,0.561404,0.043231,0.155280,0.000000,0.357143,0.0,0.000000
145,0.209613,0.052632,0.418658,0.043478,0.000000,0.785714,0.0,0.000000

In [21]:
#linear model

lm = LinearRegression()
lm.fit(X_train_scaled2, y_train)

y_pred_train = lm.predict(X_train_scaled2)
y_pred_test = lm.predict(X_test_scaled2)

print('r2_score_train =', r2_score(y_train, y_pred_train))
print('r2_score_test =', r2_score(y_test, y_pred_test))

r2_score_train = 0.49613711619961576
r2_score_test = 0.4558574809264979

In [ ]:
#SECOND MODEL version 1 : with choosen variables with more correlation to target variable; scalled with Standard Scaler

#X y split
X2 = df.drop(columns = ['green_roof_area','xcoord', 'ycoord','roof_height','ground_elev',\
                       'borough','area_type'], axis = 1) 
# here we skip the xcoord and ycoord because powert transform won't work on that variables(too large range)
y2 = df['green_roof_area']

#train test split

X_train, X_test, y_train, y_test = train_test_split(X2, y2, test_size = 0.2, random_state = 19)

#transformer operations
 #since we have encoded the cateogrical columns we will transform all the variables. so we won't split X_train into jnumerical and cateogrical

transformer = StandardScaler()
transformer.fit(X_train)
x_train_transformed = transformer.transform(X_train)
X_train_transf = pd.DataFrame(x_train_transformed, columns = X_train.columns)
X_train_transf

transformer = StandardScaler()
transformer.fit(X_test)
x_test_transformed = transformer.transform(X_test)
X_test_transf = pd.DataFrame(x_test_transformed, columns = X_test.columns)
X_test_transf

In [22]:
#linear model

lm = LinearRegression()
lm.fit(X_train_transf, y_train)

y_pred_train = lm.predict(X_train_transf)
y_pred_test = lm.predict(X_test_transf)

print('r2_score_train =', r2_score(y_train, y_pred_train))
print('r2_score_test =', r2_score(y_test, y_pred_test))

mse_train = mean_squared_error(y_train, y_pred_train)
rmse_train = math.sqrt(mse_train)

mse_test = mean_squared_error(y_test, y_pred_test)
rmse_test = math.sqrt(mse_test)

'\n'
print('mse_train =', mse_train)
print('mse_test =', mse_test)
'\n'
print('rmse_train =', rmse_train)
print('rmse_test =', rmse_test)

r2_score_train = 0.5231107367986325
r2_score_test = 0.4234506437065546
mse_train = 14451943.609531555
mse_test = 35711097.97429247
rmse_train = 3801.571202743881
rmse_test = 5975.876335257656

In [23]:
#SECOND MODEL version 2 : with choosen variables with more correlation to target variable; scalled with Standard Scaler

#X y split
X2 = df.drop(columns = ['green_roof_area','xcoord', 'ycoord','roof_height','ground_elev',\
                       'borough','area_type','digitized'], axis = 1) 
# here we skip the xcoord and ycoord because powert transform won't work on that variables(too large range)
y2 = df['green_roof_area']

#train test split

X_train, X_test, y_train, y_test = train_test_split(X2, y2, test_size = 0.2, random_state = 19)

#transformer operations
 #since we have encoded the cateogrical columns we will transform all the variables. so we won't split X_train into jnumerical and cateogrical

transformer = StandardScaler()
transformer.fit(X_train)
x_train_transformed = transformer.transform(X_train)
X_train_transf = pd.DataFrame(x_train_transformed, columns = X_train.columns)
X_train_transf

transformer = StandardScaler()
transformer.fit(X_test)
x_test_transformed = transformer.transform(X_test)
X_test_transf = pd.DataFrame(x_test_transformed, columns = X_test.columns)
X_test_transf

     building_area  ratio_green_area  construction_year
0         0.270266          0.392065          -0.925846
1         0.147379         -0.836001           1.223556
2        -0.531385         -0.631324          -0.925846
3         1.102779         -0.631324           0.507089
4         0.936836          2.302392           1.223556
..             ...               ...                ...
141      -0.387250         -0.017290           1.223556
142      -0.520384         -0.017290          -0.209379
143       0.223487         -0.153742          -0.209379
144      -0.603915          1.142551          -0.925846
145       0.798177         -0.836001           0.507089

[146 rows x 3 columns]

In [24]:
#linear model

lm = LinearRegression()
lm.fit(X_train_transf, y_train)

y_pred_train = lm.predict(X_train_transf)
y_pred_test = lm.predict(X_test_transf)

print('r2_score_train =', r2_score(y_train, y_pred_train))
print('r2_score_test =', r2_score(y_test, y_pred_test))

mse_train = mean_squared_error(y_train, y_pred_train)
rmse_train = math.sqrt(mse_train)

mse_test = mean_squared_error(y_test, y_pred_test)
rmse_test = math.sqrt(mse_test)

'\n'
print('mse_train =', mse_train)
print('mse_test =', mse_test)
'\n'
print('rmse_train =', rmse_train)
print('rmse_test =', rmse_test)

r2_score_train = 0.4714626483245339
r2_score_test = 0.4699401187845911
mse_train = 16017118.839430986
mse_test = 32831569.654361084
rmse_train = 4002.1392828624776
rmse_test = 5729.883912817178

In [25]:
df.describe()

,building_area,ratio_green_area,roof_height,ground_elev,xcoord,ycoord,borough,construction_year,digitized,area_type,green_roof_area
count,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000
mean,22724.094521,0.178466,142.563014,41.479452,-73.966182,40.745905,1.627397,1943.232877,0.212329,1.726027,3060.008219
std,31208.241425,0.171618,148.077963,33.204033,0.045822,0.053641,0.962002,42.802549,0.409237,0.803973,6059.135823
min,522.000000,0.000000,8.000000,-4.000000,-74.077320,40.572220,1.000000,1800.000000,0.000000,1.000000,10.000000
25%,4319.000000,0.060000,51.000000,15.000000,-73.996075,40.717370,1.000000,1900.000000,0.000000,1.000000,438.750000
50%,12143.000000,0.120000,85.500000,32.000000,-73.978630,40.741695,1.000000,1930.000000,0.000000,2.000000,1171.500000
75%,27632.000000,0.230000,184.000000,61.000000,-73.950568,40.773907,2.000000,1990.000000,0.000000,2.000000,3121.750000
max,280739.000000,0.980000,1408.000000,168.000000,-73.751320,40.896350,5.000000,1990.000000,1.000000,4.000000,66025.000000

In [ ]:
#CONCLUSIONS:
    #linear model performs really bad with this data set.
    # the best rmse represents about 8 % of the range of the target variable
    # however the best r2 is 0.48 wich means that a very significative variance 
        #of the target variable can't be explained by the model

# NEXT_STEPS:
    #try to do the same thing by removing more outliers
    #try another model: KNN